<header>
    <div class="container-fluid">
        <div class="align-items-center">
            <div class="profile-info">
                <h1>Juan Pablo Medina Bolaños</h1>
                <h3>Estudiante de Ingenieria de Sistemas apasionado por el desarrollo de software </h3>

                <div class="social-icons pb-3">
                    <a href="https://www.instagram.com/farsinh0_o" target="_blank" title="Instagram"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.gmail.com" target="_blank" title="Email"><i
                            class="fas fa-envelope"></i></a>
                    <a href="https://github.com/FarsinhoUDC" target="_blank" title="Github"><i 
                        class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>