<div class="container-fluid">
    <footer class="row align-items-center py-4" style="background-color: #160a71;">
        
        <div class="col-12 col-md-6 text-center text-md-start px-5">
            <p class="text-white mb-0">
                © 2026 Copyright:
                <a class="text-white fw-bold" href="https://www.unicauca.edu.co/">
                    Universidad del Cauca
                </a>
            </p>
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end px-5 mt-3 mt-md-0">
            <button type="button" class="btn btn-lg btn-floating mx-2" style="background-color: #8c5fd0;">
                <i class="fab fa-facebook-f text-white"></i>
            </button>
            <button type="button" class="btn btn-lg btn-floating mx-2" style="background-color: #8c5fd0;">
                <i class="fab fa-youtube text-white"></i>
            </button>
        </div>

    </footer>
</div>